<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="arrow-back" routerLink="/registerface"></ion-icon>&nbsp;Leftside-Face</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="leftface" class="img"></ion-img>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
    
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-label class="str">{{str1}}</ion-label>
  <ion-label class="str">{{str2}}</ion-label>
  <br>
<ion-button ion-button shape="round" class="button" (click)="StoredRightSidePhoto()" routerLink="/rightsideface">Left Cheek Verification&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="arrow-forward"></ion-icon></ion-button>

</ion-content>
